.register-container{
	margin: 50px auto;
	min-width: 50%;
	background-color: #eeeeee;
	padding: 20px;
	.wizard{
		.content{

			background: #eee;
			display: block;
			margin: .5em;
			min-height: 500px;
			overflow: hidden;
			position: relative;
			width: auto;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;

			input{
				border-radius: 0px;
				font-size: 14px;
				height: 60px;
			}

			label{
				font-size: 15px;				
				width: 100%;
			}

			> .body{

				float: left;
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 2.5%;
			}

			.title{
				display: none;				
				padding: 10px;
				color: #0fde47;

				&.current{
					display: block;
				}
			}
		}
	}

	.steps{
		display: none;
	}

	.actions{

		ul{
			margin: 20px 0;
		    padding: 0px;
		    text-align: right;		   
		    display: inline-table;
		    width: 100%;
		    box-sizing: border-box;
			> li{
				list-style: none;
			    display: inline-table;			    
			    min-width: 100px;
			    margin-right: 10px;

				a{
					background-color: #2b2d32;
				    width: 100%;
				    display: inline-table;
				    text-align: center;
				    color: #ffffff;
				    padding: 10px;
				    text-decoration: none;
				    text-transform: uppercase;
				    font-size: 12px;
				}
			}
		}
	}

}

#registration-alert{

	.alert{
		border-radius: 0;
		display: inline-table;
		width: 100%;
		color: #ffffff;		
		font-size: 14px;
		text-transform: uppercase;

		&.alert-danger{
			background-color: #ff0000;
		}
		&.alert-success{
			background-color: #08dfab;
		}
	}
}